ArmTemplate_2.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "adfprojectdevali"
        },
        "LS_SQL_CSV_password": {
            "type": "secureString",
            "metadata": "Secure string for 'password' of 'LS_SQL_CSV'"
        },
        "LS_SQL_PARQUET_SINK_accountKey": {
            "type": "secureString",
            "metadata": "Secure string for 'accountKey' of 'LS_SQL_PARQUET_SINK'"
        },
        "LS_SQL_CSV_properties_typeProperties_server": {
            "type": "string",
            "defaultValue": "LAPTOP-L5AAUBAI\\SQLDEV2022"
        },
        "LS_SQL_CSV_properties_typeProperties_database": {
            "type": "string",
            "defaultValue": "ADEPROJECT"
        },
        "LS_SQL_CSV_properties_typeProperties_userName": {
            "type": "string",
            "defaultValue": "sa"
        },
        "LS_SQL_PARQUET_SINK_properties_typeProperties_url": {
            "type": "string",
            "defaultValue": "https://adlsstoragesrc.dfs.core.windows.net/"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/DS_RESTAPI_PRQT')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_RESTAPI_PRQT",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "RestResource",
                "typeProperties": {},
                "schema": []
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_BULK_CSV_SINK')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_BULK_CSV_SINK",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Parquet",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "folderPath": {
                            "value": "@concat(\n    'bulk/',\n    formatDateTime(utcNow(), 'yyyy'), '/',\n    formatDateTime(utcNow(), 'MM'), '/',\n    formatDateTime(utcNow(), 'dd')\n)",
                            "type": "Expression"
                        },
                        "fileSystem": "input"
                    },
                    "compressionCodec": "snappy"
                },
                "schema": [
                    {
                        "name": "order_id",
                        "type": "UTF8"
                    },
                    {
                        "name": "payment_sequential",
                        "type": "UTF8"
                    },
                    {
                        "name": "payment_type",
                        "type": "UTF8"
                    },
                    {
                        "name": "payment_installments",
                        "type": "UTF8"
                    },
                    {
                        "name": "payment_value",
                        "type": "UTF8"
                    }
                ]
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_BULK_CSV')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_BULK_CSV",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": "olist_geolocation_dataset.csv",
                        "folderPath": "bulk",
                        "fileSystem": "input"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": [
                    {
                        "name": "geolocation_zip_code_prefix",
                        "type": "String"
                    },
                    {
                        "name": "geolocation_lat",
                        "type": "String"
                    },
                    {
                        "name": "geolocation_lng",
                        "type": "String"
                    },
                    {
                        "name": "geolocation_city",
                        "type": "String"
                    },
                    {
                        "name": "geolocation_state",
                        "type": "String"
                    }
                ]
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_SQL_DB')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_SQL_DB",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "AzureSqlTable",
                "schema": [],
                "typeProperties": {}
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_AZRSQL_DB')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_AZRSQL_DB",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "AzureSqlTable",
                "schema": [],
                "typeProperties": {}
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_AZRSQL_DB2')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_AZRSQL_DB2",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "AzureSqlTable",
                "schema": [],
                "typeProperties": {}
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_AZRSQLDB_CSV')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_AZRSQLDB_CSV",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "AzureSqlTable",
                "schema": [],
                "typeProperties": {}
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DSPL3_AZRSQL_CSV')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LSPL3_AZRSQL_CSV",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "AzureSqlTable",
                "schema": [],
                "typeProperties": {}
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_AZRSQLFINAL_EXCELCSV')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_AZRSQLFINAL_EXCELCSV",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "AzureSqlTable",
                "schema": [],
                "typeProperties": {}
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_SWTICH_SQLDB')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_SWTICH_SQLDB",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "AzureSqlTable",
                "schema": [],
                "typeProperties": {}
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_AZRSQLEXCEL_METADATA')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_AZRSQLEXCEL_METADATA",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "AzureSqlTable",
                "schema": [],
                "typeProperties": {}
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_SNOWBLOB')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_SNOWBLOBS",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Parquet",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "fileName": "*.parquet",
                        "container": "input"
                    },
                    "compressionCodec": "snappy"
                },
                "schema": [
                    {
                        "name": "INDEX",
                        "type": "DECIMAL",
                        "precision": 38,
                        "scale": 0
                    },
                    {
                        "name": "ORDER_ID",
                        "type": "UTF8"
                    },
                    {
                        "name": "ORDER_ITEM_ID",
                        "type": "DECIMAL",
                        "precision": 38,
                        "scale": 0
                    },
                    {
                        "name": "PRODUCT_ID",
                        "type": "UTF8"
                    },
                    {
                        "name": "SELLER_ID",
                        "type": "UTF8"
                    },
                    {
                        "name": "SHIPPING_LIMIT_DATE",
                        "type": "TIMESTAMP_MILLIS"
                    },
                    {
                        "name": "PRICE",
                        "type": "DECIMAL",
                        "precision": 10,
                        "scale": 2
                    },
                    {
                        "name": "FREIGHT_VALUE",
                        "type": "DECIMAL",
                        "precision": 10,
                        "scale": 2
                    }
                ]
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_SNOWBLOB_SINK')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_SNOWBLOB_SINK",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Parquet",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "folderPath": {
                            "value": "@concat(\n    'snowflake/',\n    formatDateTime(utcNow(), 'yyyy'), '/',\n    formatDateTime(utcNow(), 'MM'), '/',\n    formatDateTime(utcNow(), 'dd')\n)",
                            "type": "Expression"
                        },
                        "fileSystem": "input"
                    },
                    "compressionCodec": "snappy"
                },
                "schema": [
                    {
                        "name": "geolocation_zip_code_prefix",
                        "type": "UTF8"
                    },
                    {
                        "name": "geolocation_lat",
                        "type": "UTF8"
                    },
                    {
                        "name": "geolocation_lng",
                        "type": "UTF8"
                    },
                    {
                        "name": "geolocation_city",
                        "type": "UTF8"
                    },
                    {
                        "name": "geolocation_state",
                        "type": "UTF8"
                    }
                ]
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/LS_SQL_CSV')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "SqlServer",
                "typeProperties": {
                    "server": "[parameters('LS_SQL_CSV_properties_typeProperties_server')]",
                    "database": "[parameters('LS_SQL_CSV_properties_typeProperties_database')]",
                    "encrypt": "mandatory",
                    "trustServerCertificate": true,
                    "authenticationType": "SQL",
                    "userName": "[parameters('LS_SQL_CSV_properties_typeProperties_userName')]",
                    "password": {
                        "type": "SecureString",
                        "value": "[parameters('LS_SQL_CSV_password')]"
                    }
                },
                "connectVia": {
                    "referenceName": "selfhostedintegrationRuntime",
                    "type": "IntegrationRuntimeReference"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/LS_SQL_PARQUET_SINK')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobFS",
                "typeProperties": {
                    "url": "[parameters('LS_SQL_PARQUET_SINK_properties_typeProperties_url')]",
                    "accountKey": {
                        "type": "SecureString",
                        "value": "[parameters('LS_SQL_PARQUET_SINK_accountKey')]"
                    }
                },
                "connectVia": {
                    "referenceName": "selfhostedintegrationRuntime",
                    "type": "IntegrationRuntimeReference"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_SQL_CSV')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_SQL_CSV",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "SqlServerTable",
                "schema": [
                    {
                        "name": "\"order_id\"",
                        "type": "varchar"
                    },
                    {
                        "name": "\"customer_id\"",
                        "type": "varchar"
                    },
                    {
                        "name": "\"order_status\"",
                        "type": "varchar"
                    },
                    {
                        "name": "\"order_purchase_timestamp\"",
                        "type": "varchar"
                    },
                    {
                        "name": "\"order_approved_at\"",
                        "type": "varchar"
                    },
                    {
                        "name": "\"order_delivered_carrier_date\"",
                        "type": "varchar"
                    },
                    {
                        "name": "\"order_delivered_customer_date\"",
                        "type": "varchar"
                    },
                    {
                        "name": "\"order_estimated_delivery_date\"",
                        "type": "varchar"
                    }
                ],
                "typeProperties": {
                    "schema": "dbo",
                    "table": "olist_orders_dataset"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/LS_SQL_CSV')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_SQL_PARQUET_SINK')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_SQL_PARQUET_SINK",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Parquet",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "folderPath": {
                            "value": "@concat(     'sql/',     formatDateTime(utcNow(), 'yyyy'), '/',     formatDateTime(utcNow(), 'MM'), '/',     formatDateTime(utcNow(), 'dd') )",
                            "type": "Expression"
                        },
                        "fileSystem": "input"
                    },
                    "compressionCodec": "snappy"
                },
                "schema": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/LS_SQL_PARQUET_SINK')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/PL_SFTPCSV_PARQUET')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "SFTP_COPY",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "DelimitedTextSource",
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings"
                                }
                            },
                            "sink": {
                                "type": "ParquetSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "ParquetWriteSettings"
                                }
                            },
                            "enableStaging": false,
                            "translator": {
                                "type": "TabularTranslator",
                                "typeConversion": true,
                                "typeConversionSettings": {
                                    "allowDataTruncation": true,
                                    "treatBooleanAsNumber": false
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "DS_SFTP_CSV",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DS_SFTP_CSV_SINK",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "annotations": [],
                "lastPublishTime": "2026-01-26T08:12:52Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/PL_CSV_PRQT')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "CSV_COPY",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "SP-START-LOG-ENTRY",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            },
                            {
                                "activity": "SET_MAPPING_VARIABLE",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "DelimitedTextSource",
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings"
                                }
                            },
                            "sink": {
                                "type": "ParquetSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "ParquetWriteSettings"
                                }
                            },
                            "enableStaging": false,
                            "translator": {
                                "type": "TabularTranslator",
                                "typeConversion": true,
                                "typeConversionSettings": {
                                    "allowDataTruncation": true,
                                    "treatBooleanAsNumber": false
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "DS_CSV_PRQT",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DS_CSV_PRQT_SINK",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "LKUP_JOB_DETAILS",
                        "type": "Lookup",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "AzureSqlSource",
                                "sqlReaderStoredProcedureName": "[[dbo].[vb_get_job_details]",
                                "storedProcedureParameters": {
                                    "TriggerName": {
                                        "type": "String",
                                        "value": {
                                            "value": "@pipeline().parameters.Trigger",
                                            "type": "Expression"
                                        }
                                    }
                                },
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "dataset": {
                                "referenceName": "DS_AZRSQLDB_CSV",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        }
                    },
                    {
                        "name": "SP-START-LOG-ENTRY",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "LKUP_JOB_DETAILS",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[dbo].[vb_start_log_entry]",
                            "storedProcedureParameters": {
                                "jobid": {
                                    "value": {
                                        "value": "@activity('LKUP_JOB_DETAILS').output.firstRow.jobid",
                                        "type": "Expression"
                                    },
                                    "type": "Int32"
                                },
                                "pipeline_id": {
                                    "value": {
                                        "value": "@pipeline().RunId",
                                        "type": "Expression"
                                    },
                                    "type": "String"
                                }
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "LS_AZRSQLDB_CSV",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "SET_MAPPING_VARIABLE",
                        "type": "SetVariable",
                        "dependsOn": [],
                        "policy": {
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "Mapping",
                            "value": {
                                "value": "{\n    \"type\": \"TabularTranslator\",\n    \"mappings\": [\n        {\n            \"source\": {\n                \"name\": \"review_id\",\n                \"type\": \"String\",\n                \"physicalType\": \"String\"\n            },\n            \"sink\": {\n                \"name\": \"reviewid\",\n                \"type\": \"String\",\n                \"physicalType\": \"UTF8\"\n            }\n        },\n        {\n            \"source\": {\n                \"name\": \"order_id\",\n                \"type\": \"String\",\n                \"physicalType\": \"String\"\n            },\n            \"sink\": {\n                \"name\": \"orderid\",\n                \"type\": \"String\",\n                \"physicalType\": \"UTF8\"\n            }\n        },\n        {\n            \"source\": {\n                \"name\": \"review_score\",\n                \"type\": \"String\",\n                \"physicalType\": \"String\"\n            },\n            \"sink\": {\n                \"name\": \"reviewscore\",\n                \"type\": \"String\",\n                \"physicalType\": \"UTF8\"\n            }\n        },\n        {\n            \"source\": {\n                \"name\": \"review_comment_title\",\n                \"type\": \"String\",\n                \"physicalType\": \"String\"\n            },\n            \"sink\": {\n                \"name\": \"reviewcommenttitle\",\n                \"type\": \"String\",\n                \"physicalType\": \"UTF8\"\n            }\n        },\n        {\n            \"source\": {\n                \"name\": \"review_comment_message\",\n                \"type\": \"String\",\n                \"physicalType\": \"String\"\n            },\n            \"sink\": {\n                \"name\": \"reviewcommentmessage\",\n                \"type\": \"String\",\n                \"physicalType\": \"UTF8\"\n            }\n        },\n        {\n            \"source\": {\n                \"name\": \"review_creation_date\",\n                \"type\": \"String\",\n                \"physicalType\": \"String\"\n            },\n            \"sink\": {\n                \"name\": \"reviewcreationdate\",\n                \"type\": \"String\",\n                \"physicalType\": \"UTF8\"\n            }\n        },\n        {\n            \"source\": {\n                \"name\": \"review_answer_timestamp\",\n                \"type\": \"String\",\n                \"physicalType\": \"String\"\n            },\n            \"sink\": {\n                \"name\": \"reviewanswertimestamp\",\n                \"type\": \"String\",\n                \"physicalType\": \"UTF8\"\n            }\n        },\n    ],\n    \"typeConversion\": true,\n    \"typeConversionSettings\": {\n        \"allowDataTruncation\": true,\n        \"treatBooleanAsNumber\": false\n    }\n}\n",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "SP-SUCESS-LOG-ENTRY",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "CSV_COPY",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[dbo].[vb_end_log_entry]",
                            "storedProcedureParameters": {
                                "error": {
                                    "value": null,
                                    "type": "String"
                                },
                                "jobid": {
                                    "value": {
                                        "value": "@activity('LKUP_JOB_DETAILS').output.firstRow.jobid",
                                        "type": "Expression"
                                    },
                                    "type": "Int32"
                                },
                                "pipeline_id": {
                                    "value": {
                                        "value": "@pipeline().RunId",
                                        "type": "Expression"
                                    },
                                    "type": "String"
                                }
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "LS_AZRSQLDB_CSV",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "SP-FAIL-LOG-ENTRY",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "CSV_COPY",
                                "dependencyConditions": [
                                    "Failed"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[dbo].[vb_end_log_entry]",
                            "storedProcedureParameters": {
                                "error": {
                                    "value": {
                                        "value": "@activity('CSV_COPY').error.message",
                                        "type": "Expression"
                                    },
                                    "type": "String"
                                },
                                "jobid": {
                                    "value": {
                                        "value": "@activity('LKUP_JOB_DETAILS').output.firstRow.jobid",
                                        "type": "Expression"
                                    },
                                    "type": "Int32"
                                },
                                "pipeline_id": {
                                    "value": {
                                        "value": "pipeline_id @pipeline().RunId",
                                        "type": "Expression"
                                    },
                                    "type": "String"
                                }
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "LS_AZRSQLDB_CSV",
                            "type": "LinkedServiceReference"
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "parameters": {
                    "Trigger": {
                        "type": "string"
                    }
                },
                "variables": {
                    "Mapping": {
                        "type": "String"
                    }
                },
                "annotations": [],
                "lastPublishTime": "2026-01-26T19:23:31Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/DS_AZRSQLDB_CSV')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/PL_EXCEL_PRQT')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "EXCEL_COPY",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "SP-START-LOG-ENTRY",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "ExcelSource",
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                }
                            },
                            "sink": {
                                "type": "ParquetSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "ParquetWriteSettings"
                                }
                            },
                            "enableStaging": false,
                            "translator": {
                                "type": "TabularTranslator",
                                "typeConversion": true,
                                "typeConversionSettings": {
                                    "allowDataTruncation": true,
                                    "treatBooleanAsNumber": false
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "DS_EXCEL_PRQT",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DS_EXCEL_PRQT_SINK",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "LKUP_JOB_DETAILS",
                        "type": "Lookup",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "AzureSqlSource",
                                "sqlReaderStoredProcedureName": "[[dbo].[vb_get_job_details]",
                                "storedProcedureParameters": {
                                    "TriggerName": {
                                        "type": "String",
                                        "value": {
                                            "value": "@pipeline().parameters.Trigger",
                                            "type": "Expression"
                                        }
                                    }
                                },
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "dataset": {
                                "referenceName": "DS_AZRSQLEXCEL_METADATA",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        }
                    },
                    {
                        "name": "SP-START-LOG-ENTRY",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "LKUP_JOB_DETAILS",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[dbo].[vb_start_log_entry]",
                            "storedProcedureParameters": {
                                "jobid": {
                                    "value": {
                                        "value": "@activity('LKUP_JOB_DETAILS').output.firstRow.jobid",
                                        "type": "Expression"
                                    },
                                    "type": "Int32"
                                },
                                "pipeline_id": {
                                    "value": {
                                        "value": "@pipeline().RunId",
                                        "type": "Expression"
                                    },
                                    "type": "String"
                                }
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "LS_AZRSQLEXCEL_METADATA",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "SP-SUCESS-LOG-ENTRY",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "EXCEL_COPY",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[dbo].[vb_end_log_entry]",
                            "storedProcedureParameters": {
                                "error": {
                                    "value": null,
                                    "type": "String"
                                },
                                "jobid": {
                                    "value": {
                                        "value": "@activity('LKUP_JOB_DETAILS').output.firstRow.jobid",
                                        "type": "Expression"
                                    },
                                    "type": "Int32"
                                },
                                "pipeline_id": {
                                    "value": {
                                        "value": "@pipeline().RunId",
                                        "type": "Expression"
                                    },
                                    "type": "String"
                                }
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "LS_AZRSQLEXCEL_METADATA",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "SP-FAIL-LOG-ENTRY",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "EXCEL_COPY",
                                "dependencyConditions": [
                                    "Failed"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[dbo].[vb_end_log_entry]",
                            "storedProcedureParameters": {
                                "error": {
                                    "value": {
                                        "value": "@activity('EXCEL_COPY').error.message\n",
                                        "type": "Expression"
                                    },
                                    "type": "String"
                                },
                                "jobid": {
                                    "value": {
                                        "value": "@activity('LKUP_JOB_DETAILS').output.firstRow.jobid",
                                        "type": "Expression"
                                    },
                                    "type": "Int32"
                                },
                                "pipeline_id": {
                                    "value": {
                                        "value": "@pipeline().RunId",
                                        "type": "Expression"
                                    },
                                    "type": "String"
                                }
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "LS_AZRSQLEXCEL_METADATA",
                            "type": "LinkedServiceReference"
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "parameters": {
                    "Trigger": {
                        "type": "string"
                    }
                },
                "variables": {
                    "Mapping": {
                        "type": "String"
                    }
                },
                "annotations": [],
                "lastPublishTime": "2026-01-27T07:54:54Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/DS_AZRSQLEXCEL_METADATA')]"
            ]
        }
    ]
}